@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
:root {
    --primary-color: #080708;
    --secondary-color: #3772ff;
    --accent1-color: #df2935;
    --accent2-color: #fdca40;
    --accent3-color: #e6e8e6;
    --paragraph-font: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    background-color: white;
}

body {
    max-width: 900px;
    margin: 0 auto;
    background-color: var(--accent3-color);
    padding: 3em
}

img {
    max-width: 100%
}

h1,
h3,
h4,
h5,
h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--secondary-color);
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--accent1-color);
}

header {
    padding: 1em;
    text-align: center;
    color: var(--primary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--accent2-color);
}

header>h1 {
    color: var(--primary-color);
}

p {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
    padding: 1em;
}

.colors {
    width: 100%;
    min-width: 350px;
    margin: auto;
    text-align: center
}

.colors th {
    background-color: #999
}

.colors td {
    width: 25%;
    height: 3em
}

.primary {
    background-color: var(--primary-color);
    color: white;
}

.secondary {
    background-color: var(--secondary-color);
}

.accent1 {
    background-color: var(--accent1-color);
    color: white;
}

.accent2 {
    background-color: var(--accent2-color);
}

nav {
    background-color: var(--primary-color);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em
}

nav>ul {
    list-style-type: none;
    display: flex
}

nav a {
    padding: 1em;
    min-width: 70px
}

nav a:link,
nav a:visited {
    color: var(--accent3-color)
}

nav a:hover {
    color: var(--secondary-color);
    background-color: var(--accent3-color);
}